* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.main-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-boxes {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.btn-boxes > button {
  border: none;
  border-radius: 6px;
  padding: 0.75rem;
  font-weight: bold;
}

.btn-boxes > button:hover {
  filter: brightness(0.8);
}

#sucess-container,
#failure-container {
  width: 18rem;
  height: 3rem;

  display: none;
  align-items: center;
  justify-content: center;

  border-radius: 6px;

  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;

  position: absolute;
  left: 100rem;
  top: 30px;
}

#sucess-container {
  background-color: #07bc0c;
}

#failure-container {
  background-color: red;
}

#sucess-container > img,
#failure-container > img {
  height: 80%;
  width: 15%;
}

.container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70vw;
  height: 60vh;
  margin-top: 8rem;
}

.game-box {
  width: 30vw;
  height: 60vh;
  border: 3px solid;
  margin: 1.5rem 0 1.5rem 0;
}

.game-box > .row:nth-child(-n + 2) {
  border-bottom: 3px solid;
}

.row {
  display: flex;
  flex-direction: row;
  height: 19vh;
}

.column {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column img {
  height: 100%;
  width: 100%;
}

.column:nth-child(2) {
  border-left: 3px solid;
  border-right: 3px solid;
}

.scoreboard-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.score {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.scoreX,
.scoreO {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.25rem;
}

.scoreX > img,
.scoreO > img {
  width: 4rem;
}
